<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/productLayout}">

<div class="container" layout:fragment="content">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    <script>
        window.onload = function () {
            const sizeSelect = document.querySelector("#size");
            const colorSelect = document.getElementById("color");
            const total = document.getElementById('total_price');
            const dis_price = document.getElementById('disCount');
            let count = 0;


            console.log('total :' + total.innerText);//오케이 여기는 다시 값이 들어옴
            console.log('dis_price : ' + dis_price.innerText);//여기도 들어옴

            // colorSelect 요소가 존재하는지 확인
            if (colorSelect) {
                // colorSelect 요소의 변경 이벤트 리스너 추가
                colorSelect.addEventListener("change", function () {
                    console.log("colorSelect : " + colorSelect.value);
                    // colorSelect의 값이 "null"이 아닌 경우
                    if (colorSelect.value !== "null") {
                        // sizeSelect 요소의 display 속성을 "block"으로 변경
                        sizeSelect.style.display = "block";
                    } else {
                        // sizeSelect 요소의 display 속성을 "none"으로 변경
                        sizeSelect.style.display = "none";
                    }
                });
            } else {
                // colorSelect 요소가 존재하지 않을 경우 오류 메시지 출력
                console.error("colorSelect 요소를 찾을 수 없습니다.");
            }

            // 선택한 상품들을 저장할 배열
            let selectedProducts = [];

            sizeSelect.onclick = function () {
                if (sizeSelect.value !== "null" && colorSelect.value !== "null") {
                    // 새로운 제품 객체 생성
                    const newProduct = {
                        size: sizeSelect.value,
                        color: colorSelect.value
                    };

                    console.log("새로 선택한 상품 컬러 : " + newProduct.color);
                    console.log("새로 선택한 상품 사이즈 : " + newProduct.size);

                    // 이미 선택한 상품인지 확인
                    const isAlreadySelected = selectedProducts.some(product => {
                        // 새로 선택한 상품이 이미 선택된 상품과 크기와 색상이 같으면 중복으로 처리
                        if (newProduct.size !== "null" && newProduct.color !== "null") {
                            return product.size === newProduct.size && product.color === newProduct.color;
                        }
                        // 크기나 색상이 null이 아닌 경우에만 중복으로 처리
                        else if (product.size !== "null" || product.color !== "null") {
                            return false;
                        }
                        return false; // 둘 다 null인 경우는 중복으로 처리하지 않음
                    });


                    if (!isAlreadySelected && sizeSelect.value !== "null" && colorSelect.value !== "null") {
                        const choiceBox = document.getElementById('choiceBox');

                        //동적으로 내가 선택한 상품들이 띄워짐.
                        const productDetail = `<div class="product_item">
                                                <p style="font-size: 20px">
                                                    상품 사이즈 : <span class="size" style="font-size: 20px">${newProduct.size}</span><br>
                                                    상품 컬러 : <span class="color" style="font-size: 20px">${newProduct.color}</span><br>
                                                </p>
                                                <div class="count">
                                                    <button class="decrease">-</button>
                                                    <input type="text" class="num" name="num" value="1"/>
                                                    <button class="increase">+</button>
                                                    <button class="selectDelete">X</button>
                                                </div>
                                            </div>`;

                        // 태그 문자열 삽입 :
                        choiceBox.insertAdjacentHTML('beforeend', productDetail);

                        console.log("sizeSelect.value : " + sizeSelect.value);
                        console.log("colorSelect.value : " + colorSelect.value);

                        // 선택한 상품 배열에 추가
                        selectedProducts.push(newProduct);

                        console.log("selectedProducts : " + JSON.stringify(selectedProducts));

                        //동적으로 내가 선택한 상품들 띄우고 난 뒤에 size박스를 다시 비활성화 시켜줌
                        sizeSelect.value = "null";
                        colorSelect.value = "null";
                        count += 1;
                        total.innerText = (dis_price.innerText) * count;
                        sizeSelect.style.display = "none";
                    } else {
                        alert("이미 선택한 상품입니다.");
                        sizeSelect.value = "null";
                        colorSelect.value = "null";
                        sizeSelect.style.display = "none";

                    }
                }
            };//내가 선택한 상품에 대한 옵션을 동적으로 생성(+,- 버튼과 함께)


            // 삭제 버튼 클릭 시
            document.addEventListener('click', function (e) {
                if (e.target.classList.contains('selectDelete')) {
                    e.preventDefault();
                    const productItem = e.target.closest('.product_item');

                    // 삭제된 상품의 크기와 색상 가져오기
                    const sizeElement = productItem.querySelector('.size');
                    const colorElement = productItem.querySelector('.color');

                    console.log("sizeElement : " + sizeElement);
                    console.log("colorElement : " + colorElement);

                    if (sizeElement && colorElement) {

                        console.log("여기 들어가니?");

                        const size = sizeElement.innerText;
                        const color = colorElement.innerText;

                        console.log("size : " + size);
                        console.log("color : " + color);

                        // selectedProducts 배열에서 해당 상품 제거
                        selectedProducts = selectedProducts.filter(product => product.size !== size || product.color !== color);
                    }

                    productItem.remove(); // 해당 상품 삭제

                    console.log("selectedProducts : " + JSON.stringify(selectedProducts));

                    count -= 1; // 상품 개수 감소
                    total.innerText = (dis_price.innerText) * count; // 총 가격 업데이트
                }
            });

            //상품 수량 조절버튼 클릭 시
            document.addEventListener('click', async function (e) {
                const parentDiv = e.target.closest('.count');
                const numElement = parentDiv.querySelector('input[name="num"]');
                let num = Number(numElement.value);

                if (e.target.classList.contains('increase')) {
                    e.preventDefault();

                    num += 1;
                    numElement.value = num;
                    count += 1;

                }

                if (e.target.classList.contains('decrease') && num > 1) {
                    e.preventDefault();

                    num -= 1;
                    numElement.value = num;
                    count -= 1;
                }

                console.log("count : " + count);


                total.innerText = (dis_price.innerText) * count;

            });


            //바로 구매버튼을 눌렀을 때
            const uid = document.getElementById('uid').value;
            const prodId = document.getElementById('prodId').textContent;

            const buyButton = document.getElementsByClassName('order')[0];

            // 주문 정보를 저장할 리스트
            const orderList = [];


            buyButton.addEventListener('click', function (e) {
                e.preventDefault();

                const productItems = document.querySelectorAll('.product_item');
                productItems.forEach(productItem => {
                    // 상품의 사이즈와 컬러 정보 가져오기
                    const sizeElement = productItem.querySelector('.size');
                    const colorElement = productItem.querySelector('.color');
                    const quantityInput = productItem.querySelector('.num');


                    console.log(sizeElement.innerText);
                    console.log(colorElement.innerText);
                    console.log(quantityInput.value);
                    console.log(total.innerText);
                    console.log(uid);
                    console.log(prodId);

                    if (sizeElement && colorElement && quantityInput) {
                        const size = sizeElement.innerText;
                        const color = colorElement.innerText;
                        const quantity = parseInt(quantityInput.value);

                        // 주문 리스트에 상품 정보 추가
                        orderList.push({
                            "size": size,
                            "color": color,
                            "quantity": quantity
                        });
                    }
                });

                const orderData = {
                    "total": total.innerText,
                    "uid": uid,
                    "prodId": prodId,
                    "orderList": orderList
                };

                // 리스트에 저장된 주문 정보 확인
                console.log("주문한 상품 리스트:", orderData);

                fetch("/lotteshop/product/view", {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(orderData)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('데이터를 보내는데 실패했습니다.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if(data.result>0){
                            window.location.href="/lotteshop/product/order";
                        }else{
                            console.log('결과 실패');
                        }
                    })
                    .catch(err => console.log(err))
            });

        };


    </script>
    <style>
        #size {
            width: 100%;
            height: 50px;
            display: none;
        }

        #color {
            width: 100%;
            height: 50px;
        }

        .prodReview {
            border-bottom: 1px solid #ccc; /* 구분 선 스타일 및 색상 지정 */
            padding-bottom: 20px; /* 리뷰 사이의 간격 조정 */
            margin-bottom: 20px; /* 리뷰와 다음 리뷰 사이의 간격 조정 */
        }

        .prodReviewHeader {
            border-bottom: 1px solid #ccc; /* 구분 선 스타일 및 색상 지정 */
            padding-bottom: 20px; /* 리뷰 사이의 간격 조정 */
            margin-bottom: 20px; /* 리뷰와 다음 리뷰 사이의 간격 조정 */
        }

        .head {
            border-bottom: 1px solid #ccc; /* 구분 선 스타일 및 색상 지정 */
            padding-bottom: 20px; /* 리뷰 사이의 간격 조정 */
            margin-bottom: 20px; /* 리뷰와 다음 리뷰 사이의 간격 조정 */
        }

        .PageBox {
            display: flex;
            justify-content: center;
        }

        .PageBox ul {
            list-style: none;
            padding: 0;
        }

        .PageBox ul li {
            display: inline-block;
            margin: 0 5px; /* 필요한 여백 설정 */
        }

        .detail {
            border-top: 1px solid #000000; /* 구분 선 스타일 및 색상 지정 */
            padding-bottom: 20px; /* 리뷰 사이의 간격 조정 */
            margin-bottom: 20px;;
        }

        .count {
            display: flex;
            justify-content: space-between; /* 요소들을 동일한 간격으로 분산 정렬 */
            align-items: center; /* 수직 중앙 정렬 */
        }

        .selectDelete {
            margin-left: auto;
        }


    </style>

    <main id="product">
        <aside>
            <ul class="category">
                <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                <li>
                    <a href="#"><i class="fas fa-tshirt"></i>패션·의류·뷰티</a>
                    <ol>
                        <li><a href="#">남성의류</a></li>
                        <li><a href="#">여성의류</a></li>
                        <li><a href="#">잡화</a></li>
                        <li><a href="#">뷰티</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#"><i class="fas fa-laptop"></i>가전·디지털</a>
                    <ol>
                        <li><a href="#">노트북/PC</a></li>
                        <li><a href="#">가전</a></li>
                        <li><a href="#">휴대폰</a></li>
                        <li><a href="#">기타</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#"><i class="fas fa-utensils"></i>식품·생필품</a>
                    <ol>
                        <li><a href="#">신선식품</a></li>
                        <li><a href="#">가공식품</a></li>
                        <li><a href="#">건강식품</a></li>
                        <li><a href="#">생필품</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#"><i class="fas fa-home"></i>홈·문구·취미</a>
                    <ol>
                        <li><a href="#">가구/DIY</a></li>
                        <li><a href="#">침구·커튼</a></li>
                        <li><a href="#">생활용품</a></li>
                        <li><a href="#">사무용품</a></li>
                    </ol>
                </li>
            </ul>
        </aside>

        <!-- 상품 상세페이지 시작 -->
        <section class="view">

            <!-- 제목, 페이지 네비게이션 -->
            <nav>
                <h1>상품보기</h1>
                <p>
                    HOME > <span>패션·의류·뷰티</span> > <strong>남성의류</strong>
                </p>
            </nav>

            <!-- 상품 전체 정보 내용 -->
            <article class="info">
                <div class="image">
                    <img th:src="@{/uploads/__${product.image1}__}" th:alt="${product.prodName}" alt="">
                </div>
                <div class="summary">
                    <nav>
                        <p>
                            <span style="font-size: larger; font-weight: bold;">(주)</span>
                            <span th:text="${product.sellerName}" style="font-size: larger; font-weight: bold;"></span>
                        </p>
                        <h2>상품번호&nbsp;:&nbsp;<span id="prodId" th:text="${product.prodNo}">10010118412</span></h2>
                    </nav>
                    <nav>
                        <h3 th:text="${product.prodName}">상품명</h3>
                        <p th:text="${product.etc}">상품설명 출력</p>
                        <h5>
                            <img th:if="${reviewRatioDTO.r_avg} == 1 " th:src="@{/review/review_star1.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 2 " th:src="@{/review/review_star2.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 3 " th:src="@{/review/review_star3.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 4 " th:src="@{/review/review_star4.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 5 " th:src="@{/review/review_star5.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;"><a href="#">상품평보기</a></h5>
                    </nav>
                    <nav>
                        <div class="org_price">
                            <del th:text="${product.prodPrice}" id="ori_price">45,000</del>
                            <span th:text="${product.prodDiscount}+'%'"></span>
                        </div>
                        <div class="dis_price">
                            <ins id="disCount"
                                 th:text="${product.prodPrice - (product.prodPrice/product.prodDiscount)}">할인된 가격
                            </ins>
                        </div>
                    </nav>
                    <nav>
                        <span class="delivery">무료배송</span>
                        <span>
                            <b class="arrival"
                               th:text="${#temporals.format(#temporals.createNow().plusDays(2), 'MM-dd')}"
                               style="font-size: 20px"></b> 도착
                            예정
                        </span>
                        <span class="desc">본 상품은 국내배송만 가능합니다.</span>
                    </nav>
                    <nav>
                        <span class="card cardfree"><i>아이콘</i>무이자할부</span>
                        <span class="card cardadd"><i>아이콘</i>카드추가혜택</span>
                    </nav>
                    <nav>
                        <span class="origin">원산지-상세설명 참조</span>
                    </nav>
                    <!--옷 사이즈-->

                    <nav id="choiceBox">
                        <label for="color" style="font-size: medium"></label>
                        <select id="color" name="size">
                            <option style="font-size: x-large" value=null>::(필수)옵션 색상 선택</option>
                            <option style="font-size: x-large" value="black">검정</option>
                            <option style="font-size: x-large" value="white">화이트</option>
                            <option style="font-size: x-large" value="beige">베이지</option>
                        </select>

                        <label for="size" style="font-size: medium"></label>
                        <select id="size" name="size">
                            <option style="font-size: x-large" value=null>::(필수)옵션 사이즈 선택</option>
                            <option style="font-size: x-large" value="S">사이즈 (S)</option>
                            <option style="font-size: x-large" value="M">사이즈 (M)</option>
                            <option style="font-size: x-large" value="L">사이즈 (L)</option>
                            <option style="font-size: x-large" value="XL">사이즈 (XL)</option>
                        </select>
                    </nav>


                    <img th:src="@{/images/vip_plcc_banner.png}" alt="100원만 결제해도 1만원 적립!" class="banner"/>

                    <!--여기에 수량 조절버튼 있었음-->

                    <div class="total">
                        <span id="total_price"
                              th:text="${product.prodPrice - (product.prodPrice/product.prodDiscount)}">35,000</span>
                        <em>총 상품금액</em>
                    </div>

                    <div class="button">
                        <input type="button" class="cart" value="장바구니"/>
                        <input type="button" class="order" value="구매하기"/>
                    </div>
                </div>
            </article>

            <!-- 상품 정보 내용 -->
            <article class="detail">
                <nav>
                    <a href="#" style="font-size: xx-large">상세정보</a>&nbsp;&nbsp;
                    <a href="#" style="font-size: xx-large">리뷰</a>&nbsp;&nbsp;
                </nav>
                <!-- 상품상세페이지 이미지 -->
                <img th:src="@{/uploads/__${product.image2}__}" th:alt="${product.prodName}" alt="상세페이지1">
                <!--<input type="hidden" id="uid" th:if="${#authorization.expression('isAuthenticated()')}" th:value="${#authentication.principal.user.uid}">-->
                <input type="hidden" id="uid" value="a1"/>
            </article>

            <!-- 상품 정보 제공 고시 내용 -->
            <article class="notice">
                <nav>
                    <h1>상품 정보 제공 고시</h1>
                    <p>[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록된 정보입니다.</p>
                </nav>
                <table border="0">
                    <tr>
                        <td>상품번호</td>
                        <td>10110125435</td>
                    </tr>
                    <tr>
                        <td>상품상태</td>
                        <td>새상품</td>
                    </tr>
                    <tr>
                        <td>부가세 면세여부</td>
                        <td>과세상품</td>
                    </tr>
                    <tr>
                        <td>영수증발행</td>
                        <td>발행가능 - 신용카드 전표, 온라인 현금영수증</td>
                    </tr>
                    <tr>
                        <td>사업자구분</td>
                        <td>사업자 판매자</td>
                    </tr>
                    <tr>
                        <td>브랜드</td>
                        <td>블루포스</td>
                    </tr>
                    <tr>
                        <td>원산지</td>
                        <td>국내생산</td>
                    </tr>
                </table>
                <table border="0">
                    <tr>
                        <td>제품소재</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>색상</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>치수</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>제조자/수입국</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>제조국</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>취급시 주의사항</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>제조연월</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>품질보증기준</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>A/S 책임자와 전화번호</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>주문후 예상 배송기간</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td colspan="2">구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우</td>
                    </tr>
                </table>
                <p class="notice">
                    소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에 따라 청약철회를 하고
                    동법 제 18조 제1항 에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의
                    환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조
                    제2항 및 동법 시행령 제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여
                    산정한 지연이자(“지연배상금”)를 신청할 수 있습니다. 아울러, 교환∙반품∙보증 및 결제대금의
                    환급신청은 [나의쇼핑정보]에서 하실 수 있으며, 자세한 문의는 개별 판매자에게 연락하여 주시기 바랍니다.
                </p>
            </article>

            <!-- 상품 리뷰 내용 -->
            <div class="prodReviewBox">
                <div class="prodReviewHeader">
                    <div>
                        <p class="head" style="font-size: xx-large">리뷰(<span style="font-size: xx-large"
                                                                             th:text="${reviewPage.dtoList.size()}"></span>)
                        </p>
                        <br>
                        <h3>평균</h3>

                        <h1 th:text="${#numbers.formatDecimal(reviewRatioDTO.avg, 0, 'POINT', 2, 'POINT')}"> 점</h1>
                        <img th:if="${reviewRatioDTO.r_avg} == 1 " th:src="@{/review/review_star1.png}" alt="oneStar"
                             style="max-width: 80px; height: auto;">
                        <img th:if="${reviewRatioDTO.r_avg} == 2 " th:src="@{/review/review_star2.png}" alt="oneStar"
                             style="max-width: 80px; height: auto;">
                        <img th:if="${reviewRatioDTO.r_avg} == 3 " th:src="@{/review/review_star3.png}" alt="oneStar"
                             style="max-width: 80px; height: auto;">
                        <img th:if="${reviewRatioDTO.r_avg} == 4 " th:src="@{/review/review_star4.png}" alt="oneStar"
                             style="max-width: 80px; height: auto;">
                        <img th:if="${reviewRatioDTO.r_avg} == 5 " th:src="@{/review/review_star5.png}" alt="oneStar"
                             style="max-width: 80px; height: auto;">
                    </div>
                </div>

                <ul>
                    <li th:each="review, loop:${reviewPage.dtoList}">
                        <div class="prodReview">
                            <p><b>[[${review.uid}]]</b>
                                <img th:if="${review.score} == 1 " th:src="@{/review/review_star1.png}" alt="oneStar"
                                     style="max-width: 80px; height: auto;">
                                <img th:if="${review.score} == 2 " th:src="@{/review/review_star2.png}" alt="oneStar"
                                     style="max-width: 80px; height: auto;">
                                <img th:if="${review.score} == 3 " th:src="@{/review/review_star3.png}" alt="oneStar"
                                     style="max-width: 80px; height: auto;">
                                <img th:if="${review.score} == 4 " th:src="@{/review/review_star4.png}" alt="oneStar"
                                     style="max-width: 80px; height: auto;">
                                <img th:if="${review.score} == 5 " th:src="@{/review/review_star5.png}" alt="oneStar"
                                     style="max-width: 80px; height: auto;">
                                <span th:text="${#temporals.format(review.rdate,'yyyy-MM-dd')}">24.03.22</span></p>
                            <div>
                                <img th:if="${review.thumbnail} != null" th:src="@{/uploads/__${review.thumbnail}__}"
                                     th:alt="${review.rno}" style="width: 120px; height: 120px ">
                                <img th:if="${review.thumbnail} == null" th:src="@{/newimage/noReview.png}"
                                     th:alt="${review.rno}" style="width: 120px; height: 120px ">
                                <p>[[${review.comment}]]</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="PageBox" th:if="${!reviewPage.dtoList.isEmpty()}">
                    <ul>
                        <li th:if="${reviewPage.prev}">
                            <a th:href="@{/product/view(prodno=${product.prodNo}, rpg=${reviewPage.start - 1}, aa='a')}">이전</a>
                        </li>
                        <li th:each="n : ${#numbers.sequence(reviewPage.start, reviewPage.end)}">
                            <a th:href="@{/product/view(prodno=${product.prodNo}, rpg=${n}, aa='a')}"
                               th:classappend="${reviewPage.rpg == n} ? 'pageOn' : 'page-link'" th:text="${n}"></a>
                        </li>
                        <li th:if="${reviewPage.next}">
                            <a th:href="@{/product/view(prodno=${product.prodNo}, rpg=${reviewPage.end + 1}, aa='a')}">다음</a>
                        </li>
                    </ul>
                </div>
            </div>

        </section>
        <!-- 상품 상세페이지 끝 -->
    </main>
</div>
</html>