<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/company/layouts/companyLayout.html}">
<div class="content" layout:fragment="content">



    <main>
        <section id="main_total_section">
            <div style="position: relative;">
                <img id="introduce" th:src="@{/company/images/bg_company_introduce.jpg}">
            </div>
            <div class="container">

            </div>
        </section>
    </main>
</div>
</html>