<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/my/layout/myLayout.html}">


            <div class="qna" layout:fragment="content">

                <script>

                    window.onload = function (){

                    //배너 조회수 올리기

                    const Banner = document.getElementsByClassName('Banner')[0];

                    Banner.onclick = function (e){

                        e.preventDefault();


                        const bannerNo = Banner.getAttribute('data-bannerNo');
                        const link = Banner.getAttribute('data-link');

                        console.log('bannerNo :' + bannerNo);

                        const jsonData = {
                            "bannerNo": bannerNo
                        }

                        fetch("/lotteshop/main/banner/index", {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(jsonData)
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('데이터 전송에 실패!');
                                } else {
                                    window.location.href = link;
                                }
                                return response.json();
                            })
                            .then(data => {
                                console.log(data);
                            })
                            .catch(err => console.log(err))
                    }
                    }


                </script>
                <ul>
                    <span class="menu_else"></span>
                    <li ><a th:href="@{/my/order}">전체주문내역</a></li>
                    <li><a th:href="@{/my/favorite}">관심상품</a></li>
                    <li ><a th:href="@{/my/point}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                    <li ><a th:href="@{/my/review(uid=${#authentication.principal.username})}">나의리뷰</a></li>
                    <li class="on"><a th:href="@{/my/qna}">문의하기</a></li>
                    <li ><a th:href="@{/my/info}">나의설정</a></li>
                </ul>

                <section>
                    <!---배너시작-->
                    <th:block th:if="${banner5 != null and !banner5.isEmpty()}">
                        <th:block th:each="banner : ${banner5}">
                            <div id="bannerTop" class="on" th:style="'background-color:' + ${banner.color}">
                                <article>
                                    <a class="Banner" th:href="${banner.link}" th:if="${banner.status} == 1" th:data-bannerNo="${banner.bannerNo}"
                                       th:data-link="${banner.link}">
                                        <img class="bannerImg" th:src="@{/uploads/__${banner.img_810}__}"/>
                                    </a>
                                </article>
                            </div>
                        </th:block>
                    </th:block>

                    <th:block th:unless="${banner5 != null and !banner5.isEmpty()}"></th:block>
                    <article>
                        <h3>
                            <a th:if="${adminCsQna.getGruop() == 'qna'}" th:href="@{/my/qna}" style="border: 1px solid gray; font-size: 15px; padding: 2px; background-color: #EDE7E0">1:1 문의하기</a>
                            <a th:if="${adminCsQna.getGruop() != 'qna'}" th:href="@{/my/qna}" style="border: 1px solid gray; font-size: 15px; padding: 2px">1:1 문의하기</a>
                            <a th:if="${adminCsQna.getGruop() == 'product'}" th:href="@{/my/qna(group = product)}" style="border: 1px solid gray; font-size: 15px;  padding: 2px; background-color: #EDE7E0" >상품 문의</a>
                            <a th:if="${adminCsQna.getGruop() != 'product'}" th:href="@{/my/qna(group = product)}" style="border: 1px solid gray; font-size: 15px;  padding: 2px">상품 문의</a>

                        </h3>

                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>문의채널</th>
                                <th>문의유형</th>
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <th:block th:if="${adminCsQna.getGruop() == 'product' }">
                            <tr  th:each="prodQna, index : ${adminCsQna.dtoList4}">
                                <td class="no" th:text="${prodQna.no}"></td>
                                <td class="cate" th:text="${prodQna.cate}"></td>
                                <td class="type"></td>
                                <td class="tit" th:text="${prodQna.content}"></td>
                                <td class="date" th:text="${prodQna.rdate}"></td>
                                <td class="status">
                                    <th:block th:if="${prodQna.status1 == '답변 대기중'}">
                                        <p style="font-size: 16px; color: #0D3A46"  th:text="${prodQna.status1}"></p>
                                    </th:block>
                                    <th:block th:if="${prodQna.status1 != '답변 대기중'}">
                                        <p  style="font-size: 16px; color: #4CAF50 "  th:text="${prodQna.status1}"></p>
                                    </th:block>
                                </td>
                            </tr>
                            </th:block>
                            <th:block th:if="${adminCsQna.getGruop() != 'product' }">
                                <tr  th:each="csQna, index : ${adminCsQna.dtoList3}">
                                    <td class="no" th:text="${csQna.no}"></td>

                                    <td class="cate" th:text="${csQna.cate1}"></td>
                                    <td class="type" th:text="${csQna.cate2}"></td>
                                    <td class="tit" th:text="${csQna.title}"></td>
                                    <td class="date" th:text="${csQna.rdate}"></td>

                                    <td class="status">
                                        <th:block th:if="${csQna.status == '답변 대기중'}">
                                            <p style="font-size: 16px; color: #0D3A46"  th:text="${csQna.status}"></p>
                                        </th:block>
                                        <th:block th:if="${csQna.status != '답변 대기중'}">
                                            <p  style="font-size: 16px; color: #4CAF50 "  th:text="${csQna.status}"></p>
                                        </th:block>
                                    </td>

                                </tr>
                            </th:block>
                        </table>
                    </article>
                </section>

            </div>
        </div>

</html>